.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.logo-text {
  font-size: 1.2em;
  font-family: "Arial", sans-serif;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav-element {
  font-size: 1em;
  text-decoration: none;
  color: rgb(14, 12, 12);
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-element:hover {
  background-color: #555;
  cursor: pointer;
}

.nav-element button {
  background: none;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.nav-element button:hover {
  background-color: #555;
}
